/*
h1 {
  color:red;
}
p {
  color:blue;
  font-family: Helvetica;
  font-size: 16px;
}
ul li {
  background-color: yellow;
}
h2 {
  background-color: orange;
  color: green;
}
ol li {
  background-color: teal;
}
*/
h1 {
  color: #2a5e50;
  text-align: center;
  text-decoration: line-through;
  text-decoration-color: white;
  font-family: courier;

}
#carouselparagraph {
  color: black;
  font-family: Times;
  font-size: 36px;
  font-weight: bold;

}

#carouselheader {
  color: black;
  font-family: Times;
  font-size: 30px;
  font-weight: bold;

}

#carouselparagraph1 {
   color: black;
   font-family: Times;
   font-size: 36px;
   font-weight: bold;

}
#carouselbutton {
  background-color: rgba(255,255,255,0.3);
  color: black;
  font-family: courier;
  font-weight: bold;
}

#carouselbutton1 {
  background-color: rgba(255,255,255,0.3);
  font-family: courier;
  font-weight: bold;
}
#carouselbutton2 {
  background-color: rgba(255,255,255,0.3);
  font-family: courier;
  font-weight: bold;
  }
#carouselbutton3 {
  background-color: rgba(255,255,255,0.3);
  font-family: courier;
  font-weight: bold;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: transparent;
  overflow: hidden;
  font-family: baskerville, times, serif;
  padding-top: 30px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 17px;
  line-height: 0.5;
  color: #2a5e50;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #2a5e50;
  color: white;
}

/*  */
.topnav a.active {
  background-color: #2a5e50;
  color: white;
}


  * {
  box-sizing: border-box;
}


/* Style the submit button */
form.example button {
  float:right;
  background: #2a5e50;
  color: white;
  font-size: 15px;
  border: 1px;
  border-left: none; /* Prevent double borders */
  cursor: alias;
  height: 25px;
}

#searchBox {
  padding-top: 30px;
}
/* search styles */
  form.example input[type=text] {
  float:right;
   height:25px;
   min-width:100px;
  font-size: 15px;
  border: 1px;
  width: 10%;
  background: transparent;
  color: #2a5e50;
}


form.example button:hover {
  background: #296159;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  disp
}


#searchBox{
  float: right;
}

.column1 {
  float: left;
  width: 50%;
  padding-left: 200px;
  padding-right: 200px;
  margin: auto;
  padding-bottom: 0px;
}

/* Some left and right padding inside the container */
.container1 {

  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  font-weight: bold;
  color: #2a5e50;
}

.card1{
width:300px;
float:right;
}

.card2{
width:300px;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #2a5e50;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-family: baskerville, times, serif;
  letter-spacing: 2px;
}

.button:hover {
  background-color: #b0dbbf;
}
.whatwedo {
  padding-top: 75px;
  padding-bottom: 70px;
  color: #2a5e50;
  letter-spacing: 3px;
  text-align: center;
  font-style: italic;
  word-wrap: break-word;
  font-family: baskerville, times, serif;
  font-size: 30px;
  margin: 0 auto;
}

.icon-bar{
  text-align:center;


}

/* Style the icon bar links */
.icon-bar a {
  display: run-in;
  text-align: center;
  padding: 3px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #296159;
}

.facebook {
  background:#2a886b;
  color: white;
}

.twitter {
  background: #2a886b;
  color: white;
}

.instagram {
  background: #2a886b;
  color: white;
}

.w3-content{
  display: table-cell; vertical-align: middle;

}
.AboutUs {
  padding-top: 20px;
  padding-bottom: 30px;
font-size: 25px;
color: #2a5e50;
letter-spacing: 2px;
text-align: center;
font-style: italic;
word-wrap: break-word;
font-family: baskerville, times, serif;
padding-top: 0px;
display:table;
width:100%;

}
#aboutus {
  font-family: "futura",helvetica,sans-serif;
  font-size: 20px;
  border-bottom: solid;
  background-repeat: no-repeat;
  text-align: center;
  margin: 0 auto;
  max-height: 73px;
  color: #2a5e50;
  letter-spacing: 3px;
  padding-bottom: 10px;
  border-width: thin;
  padding-top: 20px;
}

#about {

  width: 80%;
  margin: 0 auto;
  padding-bottom: 25px;
  border-bottom: solid;
  border-width: thin;

}
.aboutus1 {
  padding-bottom: 30px;
}
